* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #f9f9f9;
  }
  
  main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
  }

  /* Add Food Container Styles */
  
  main .addFoodContainer {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: none;
    box-shadow: 0 0 10px lightgray;
  }
  
  main .addFoodContainer h3 {
    margin-top: 0;
  }
  
  main .addFoodContainer .addFoodForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  main .addFoodContainer .addFoodForm .inputFields {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  main .addFoodContainer .addFoodForm .submitButton {
    width: 100%;
    height: 40px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  main .addFoodContainer .addFoodForm .submitButton:hover {
    background-color: darkgreen;
  }
  
  /* Display Message Styles */
  
  .displayMessage {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .displayMessage span {
    font-size: 16px;
    color: #666;
  }
  
  .displayMessage i {
    font-size: 18px;
    cursor: pointer;
    float: right;
    margin-top: -5px;
  }
  
  .displayMessage i:hover {
    color: #aaa;
  }

  